body {
    text-align: center;
    background-color: rgb(18, 27, 42);
    margin: 5%;
}

h1, h2, p {
    color: white;
}
.visible {
    display: block;
}
.oculto {
    display: none;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
  
.boton{
border: 2px solid yellow;
padding: 30px;
margin: 10px;
display: grid;
place-items: center;
background-color: rgb(79,89,132);
}




