body {
    text-align: center;
    background-color: rgb(18, 27, 42);
    margin: 5%;
}


table {
    margin-left: auto;
    margin-right: auto;
    color: white;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 60PX;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 40PX;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 75PX;
}

p {
    color: white;
    font-size: 30PX;
    text-align: center;
}

.visible {
    display: block;
}
.oculto {
    display: none;
}

.grid {
    max-width: 600px; /* Ancho máximo del grid, puedes ajustar el tamaño según tus necesidades */
    margin: 0 auto; /* Márgenes automáticos para centrar horizontalmente */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

  
div > button {
    border: 2px solid yellow;
    padding: 30px;
    margin: 10px;
    display: grid;
    place-items: center;
    background-color: rgb(79,89,132);
}

.boton-grande {
    font-size: 50px; /* Tamaño de fuente más grande */
    padding: 15px 30px; /* Aumenta el espacio interior del botón */
}

.boton-mediano {
    font-size: 20px; /* Tamaño de fuente más grande */
    padding: 15px 30px; /* Aumenta el espacio interior del botón */
}

.boton-pequeño {
    font-size: 20px; /* Tamaño de fuente más grande */
    padding: 15px 30px; /* Aumenta el espacio interior del botón */
}

.centrar-boton {
    text-align: center;
    margin: 0 auto;
    display: block;
    display: none;
    font-size: 20px; /* Cambia el tamaño del texto del botón */
    padding: 10px 20px; /* Ajusta el relleno del botón para hacerlo más grande */

}

/* ***************************************************************************************
/* ESTILO PARA LOS BOTONES DE (NEXT QUESTIONS / MENU ) EN EL GAME.PHP  

/* Estilo para los botones "grande" */
.boton-accion.grande {
    font-size: 20px; /* Tamaño de fuente más grande */
    padding: 10px 20px; /* Ajusta el espaciado interior del botón */
    display: block; /* Muestra los botones como bloques para centrarlos horizontalmente */
    margin: 0 auto; /* Centra los botones horizontalmente */
}

/* Estilo para el contenedor de botones */
.botones-container {
    text-align: center; /* Centra los botones en el contenedor */
}

/* **************************************************************************************



/* ***************************************************************************************
/* ESTILOS PARA EL CONTADOR INVERSO */
.normal-text {
    font-size: 24px;
    color: black; /* Color normal del texto */
}

.red-blinking-text {
    font-size: 24px;
    color: red;
    animation: blinker 1s linear infinite;
}

.hidden-message {
    display: none; /* Para ocultar el mensaje hasta que se active */
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* *************************************************************************************** */


.vertical-buttons {
    position: fixed;
    left: 95px;
    top: 64%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.vertical-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99px; /* Diámetro del círculo */
    height: 99px; /* Diámetro del círculo */
    border: none; /* Elimina el borde */
    border-radius: 50%; /* Borde redondo para hacer el círculo */
    cursor: pointer;
    overflow: hidden; /* Recorta la imagen para adaptarla al círculo */
    padding: 0; /* Elimina el relleno interno del botón */
    border: 2px solid rgb(172, 203, 231); /* Borde azul con grosor de 2px */
}

.vertical-buttons button img {
    width: 100%; /* Ocupa todo el ancho del botón */
    height: auto; /* Altura automática para mantener la proporción */
    object-fit: cover; /* Ajusta la imagen a las dimensiones del botón */
}

