body {
    text-align: center;
    background-color: rgb(18, 27, 42);
    margin: 5%;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 60PX;
}
h2{
    color: white;
    font-size: 40PX;
}

h3 {
    color: white;
    font-size: 75PX;
}

p {
    color: white;
    font-size: 30PX;
}

.visible {
    display: block;
}
.oculto {
    display: none;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  
div > button {
    border: 2px solid yellow;
    padding: 30px;
    margin: 10px;
    display: grid;
    place-items: center;
    background-color: rgb(79,89,132);
}

.boton-grande {
    font-size: 50px; /* Tamaño de fuente más grande */
    padding: 15px 30px; /* Aumenta el espacio interior del botón */
}

.boton-mediano {
    font-size: 20px; /* Tamaño de fuente más grande */
    padding: 15px 30px; /* Aumenta el espacio interior del botón */
}

.boton-pequeño {
    font-size: 20px; /* Tamaño de fuente más grande */
    padding: 15px 30px; /* Aumenta el espacio interior del botón */
}

